.Rproj.user
.Rhistory
.RData
.Ruserdata
.pdf
/rds/2022_09_15_fit.rds
2022_09_15_fit.rds
plots/posteriors_all_plots.jpg
other_plots.R
/tables/data.mean.ke.jpg
/tables/data.mean.ke.pdf
old_plots/
plots2/
rds/
posterior_check.R
